.Timout3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.div1 {
		display: flex;
		justify-content: center;
		margin-top: 55px;
		.div2 {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			border-radius: 15px;
			gap: 1rem;
			p {
				color: #fff;
				font-size: 4rem;
			}
			button {
				width: 120px;
				height: 45px;
				background-color: #fff;

				color: rgb(29, 222, 29);
				font-size: 1.5rem;
				border-radius: 15px;
			}
		}
	}
}
