.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(29, 28, 28, 0.27);
	display: flex;
	justify-content: center;
	align-items: center;
	.modal2 {
		background: #fff;
		box-sizing: 2px 2px 2px 5px #fff;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(195, 190, 190, 0.2);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 400px;
		height: 450px;
		border-radius: 15px;
	}
}
