.header {
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16rem;
		padding-bottom: 3rem;
		.div1 {
			display: flex;
			justify-content: space-around;
			align-items: center;
			gap: 1rem;
			img {
				width: 20px;
				height: 20px;
			}
			p {
				color: #fff;
				font-size: 25px;
				font-weight: 600;
			}
		}
		.div2 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1rem;
		}
	}
}
.modalContentsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	.h2 {
		display: flex;
		justify-content: start;
		color: #878181;
	}
	h2 {
		font-size: 25px;
		font-weight: 600;
		color: rgb(33, 33, 33);
	}
	h3 {
		font-size: 22px;
		font-weight: 600;
		color: #615d5d;
	}
	.forms {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 1rem;
		.div1 {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			p {
				color: black;
				font-size: 18px;
				font-weight: 600;
			}
		}
	}
}
